<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
         <div id="texthere"></div>
          <div id="textInput">
            <textarea class="bottom form-control " id="text" placeholder="Text to memorize here..."></textarea>
            <button  id="btn">Call for Line</button>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2" id="instructions">
        <h3 class="text-center">Instructions</h3>
        <p>After typing in your script or text for memorization, copy and paste it into the box above. Hit the Call for Line button and the text will appear above the box. Click on a word to make it disappear, and an underline will appear. If you want to reset your text, just click the Call for Line button again.  You can also include &lt;br&gt; in the box to start the text on a new line and to space out longer passages. Be sure to put spaces around each word and each &lt;br&gt;.
      </div>
    </div>
    </div>
  </body>