.underline {
    color:white;
    border-bottom:1px solid #ff9999;
      
    }
    .bold {
      font-weight:bold;
    }
    .bottom {
     
    }
    #textInput {
      margin-top: 50px;
    }
    #btn {
      margin-top:15px;
    }
    #texthere {
      margin-top:30px;
      font-size: 1.3em;
    }
    #instructions {
      margin-top: 30px;
    }